# Windows thumbnail cache files
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# GPG secret key ignoring
secring.*